 <footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
      <div class="container-fluid">
  
      </div>
    </div>
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
                  <ul class="list-unstyled">
                    <li>
                      Beograd<br>
                      11000<br>
                      Zdravka Čelara<br>
                      16<br>
                    </li>
                    <li><a href="tel:+ 381 69545702">Phone: + 381 69545702</a>
                      
                    </li>
                  </ul>
                </address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Links</h4>
            <ul class="list-unstyled">
              <li><a href="#" routerLink="">Home</a></li>
              <li><a href="/sports">Sports</a></li>
              <li><a href="/history">History</a></li>
              <li><a href="/about-us">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Sponsors</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.nike.com">Nike</a></li>
              <li><a href="https://www.adidas.com/us">Adidas</a></li>
              <li><a href="https://www.asics.com/gb/en-gb/">Asics</a></li>
              <li><a href="https://www.nike.com/jordan">Air Jordan</a></li>
              <li><a href="https://www.umbro.com/en/">Umbro</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Social Media</h4>
            <ul class="list-unstyled">
              <li><a href="https://sr-rs.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Facebook</a></li>
              <li><a href="https://twitter.com/?lang=sr"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Twitter</a></li>
              <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i>&nbsp;Youtube</a></li>
              <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i> &nbsp; Linkedin            </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center">&copy; Copyright 2022 - Stefan.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>