<app-prva-komponenta (message)="receiveMessage($event)"></app-prva-komponenta>
<div class="container" id="material">
    <div class="row">
        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">ABOUTH 'SPORTS CENTER'</h1>
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM</h3>
        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
            Welcome to our site. Here you will get acquainted with the complex 'Sports Center'. The Sports Center started operating in 2019, which in itself has advantages because we use the latest equipment in all sports we offer. Our services allow you to determine for yourself how you will function in the center. In addition to the equipment, we also offer the friendly staff at your disposal. It is up to you to come and leave the rest to us. 'Come and stay'.
        </p>
        <div class="mbr-section-btn align-center" id="cont"><a class="btn btn-md btn-black-outline display-4" id="abtn" (click)="changePosition(600)" routerLink="/contact" href="">
                CONTACT US</a></div>
    </div>
</div>
    <div class="container container1" id="header1-0">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                            
                
                
            </div>
        </div>
    </div>
<!-- </section> -->
<div class="container" id="material">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-img pb-3">
                    <span class="material-icons fg">psychology</span>                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Creativity</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        It's the ability to think outside the box. We make decisions, create something new and generate a lot of ideas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="card-img pb-3">
                    <span class="material-icons fg">public</span>                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Worldwide</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Our services are available worldwide and everyone can afford it.&nbsp;&nbsp;&nbsp;&nbsp;World famous brand "Sports Center
                        ".
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card ">
                <div class="card-img pb-3">
                    <span class="material-icons fg">mood</span>                 </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Unique Styles
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        A unique brand that does not copy any other, &nbsp; but has its own line and sticks to its way of working&nbsp;&nbsp;...
            </div>
        </div>
    </div>
</div>
</div>
<app-maps></app-maps>
