.dropdown-menu2 {
    position: absolute;
    z-index: 3;
    display: block;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 20% auto;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdown-menu3 {
    position: absolute;
    z-index: 3;
    display: block;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 50% auto;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.btn-group{
    margin-right: 20px;
}