<app-prva-komponenta (message)="receiveMessage($event)"></app-prva-komponenta>
<div class="card mb-3" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="assets/images/author.jpg" class="card-img" alt="author">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Author</h5>
          <p class="card-text">Hello, I am Stefan Stanisavljević, a student of the ICT college in Belgrade. I am majoring in Internet technology and learning to become a good web developer. I love making websites and I try to get better and better at it. .</p>          
        </div>
      </div>
    </div>
  </div>
