/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: lato;
    src: url('/src/assets/fonts/Oxygen/Oxygen-Bold.ttf') format("opentype");
  }
  body{
    font-family: lato!important;
  }